<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated scxml -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.w3._2005._07.scxml.presentation.ScxmlModelWizardID"
            name="%_UI_ScxmlModelWizard_label"
            class="org.w3._2005._07.scxml.presentation.ScxmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ScxmlModelFile.gif">
         <description>%_UI_ScxmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated scxml -->
      <editor
            id="org.w3._2005._07.scxml.presentation.ScxmlEditorID"
            name="%_UI_ScxmlEditor_label"
            icon="icons/full/obj16/ScxmlModelFile.gif"
            extensions="scxml"
            class="org.w3._2005._07.scxml.presentation.ScxmlEditor"
            contributorClass="org.w3._2005._07.scxml.presentation.ScxmlActionBarContributor">
      </editor>
   </extension>

</plugin>
